@model AplicacionWebEmpresa.Models.Servicio

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <h1>@Html.DisplayFor(model => model.Nombre)</h1>
            <img src="/img/app-woman-white-solution-closeup-two.jpg" style="width: 80%;">
            <p>
                El servicio @Html.DisplayFor(model => model.Nombre) ofrecido por nuestra empresa,
                se encuentra al precio de $ @Html.DisplayFor(model => model.Precio). Puede comunicarse con las
                sucursales en las que se ofrece el mismo.
            </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h4>Datos Extra</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">ID de la sucursal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </td>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.Nombre)
                        </td>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.Precio)
                        </td>
                        <td class="col-sm-10">
                            @Html.DisplayFor(model => model.SucursalId)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
